[submodule "datavetenskapI/Programvarukonstruktion/ObjektorienteradAnalysOchDesign/librarysystem"]
	path = datavetenskapI/Programvarukonstruktion/ObjektorienteradAnalysOchDesign/librarysystem
	url = git@github.com:zarac/tgspu-librarysystem.git
